.main-segment.quote-box {
    width: 550px;
    padding: 50px;
    position: relative;
    top: 100px;
    margin: 0px auto;
}
#root .ui-provider {
    height: 100vh;
}
.ml-5{
    margin-left: 5px;
}
